<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Nouveu participant</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          crossorigin="anonymous" />
</head>
<body>
<div class="container">
    <h3>Ajout d'un participant</h3>
    <hr/>
    <form th:action="@{/saveParticipant}" th:object="${participant}" method="POST">
        <input type="text" th:field="*{nom}" class="form-control col-4 mb-4" placeholder="Enter le nom" />
        <input type="text" th:field="*{prenom}" class="form-control col-4 mb-4" placeholder="Enter le prenom" />
        <input type="text" th:field="*{email}" class="form-control col-4 mb-4" placeholder="Enter email" />
        <input type="text" th:field="*{date_naiss}" class="form-control col-4 mb-4" placeholder="Enter date de naissance" />
        <input type="text" th:field="*{organisation}" class="form-control col-4 mb-4" placeholder="Enter organisation" />
        <input type="text" th:field="*{observations}" class="form-control col-4 mb-4" placeholder="Enter observation" />

        <select th:field="*{evenement}" class="form-control">
            <option th:each="evenement: ${listEvenements}" th:value="${evenement.id}" th:text="${evenement.intitule}"></option>
        </select>

        <button type="submit" class="btn btn-primary col-2">Sauvegarder</button>
        <input type="hidden" th:field="*{id}" />
    </form>
    <hr/>
    <a th:href="@{/listParticipant}" class="btn btn-primary">Retour à la liste</a>
    <a th:href="@{/home}" class="btn btn-primary">Retour à l'accueil</a>
</div>
</body>
</html>