<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Home JEE</title>
    <meta http-equiv="Content-Type" content="text/html;
charset=UTF-8" />
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          crossorigin="anonymous" />
</head>
<body>
<div class="container">
    <p></p>
    <h3>Bienvenue</h3>
    <p></p>
    <a th:href="@{/listEvenement}" class="btn btn-primary">Liste des événements</a>
    <a th:href="@{/listParticipant}" class="btn btn-primary">Liste des Participants</a>

</div>

</body>
</html>
